.btn{
border-radius: 5px;
width: 150px;
height: 35px;
background-color: #00bfff;
position: relative;
left: 1685px;
cursor: pointer;
}

.btn:hover {
background-color: #14a4d4;
font-size: 15px;
}

.footer{
position: relative ;
top: 800px;
}

.footer{
height: 70px; 
}
.github_logo{
color: black;
}

.search{
border-radius: 20px;
width: 200px;
height: 25px;
position: relative;
left: 650px;
}